.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.default-cursor {
  cursor: default;
}

.pointer-cursor {
  cursor: pointer;
}

.has-children {
  font-weight: 600;
}

.node-indenter {
  width: 1em;
  display: inline-block;
  position: relative;
  top: -0em;
  height: 1em;

  &.last {
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
  }
}

.expander-btn {
  font-family: monospace;

}
