.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.default-cursor {
  cursor: default;
}

.pointer-cursor {
  cursor: pointer;
}

.has-children {
  font-weight: 600;
}

.node-indenter {
  width: 1em;
  display: inline-block;
  position: relative;
  top: -0.24em;
  height: 1em;

  //&.last {
  &.first {
    border-left: 1px solid silver;
  }
  border-bottom: 1px solid silver;
}

.tree-node {
  border-left: 1px solid silver;
  margin-left: 1.15em;
}
.tree-node.root {
  border-left: none;
  margin-left: 0;
}

.tree-node.indent-1 {
  margin-left: 0.15em;
}

.expander-btn {
  font-family: monospace;

}
